@charset "utf-8";

header .inner{
  padding: 0 20px;
  max-width: 1640px;
  margin: auto;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 30px 0;
}
header .inner{
  display: flex;
  justify-content: space-between;
}
header .back img{
  width: 100%;
  height: 15px;
}
header .search img{
  width: 30px;
  height: 30px;
}
header .inner h1{
  font-family: 'Pretendard-Regular';
  font-size: 40px;
  font-weight: bold;
  color: #000;
}
header .inner .gnb-wrap{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 50px;
  width: 100%;
  height: 100%;
}
header .inner .gnb-wrap li{
  margin-bottom: 100px;
}
header .inner .gnb-wrap li a{
  font-size: 30px;
  font-weight: 700;
}
header .search-box{
  display: none;
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 15px;
}
header .search-box .inner{
  display: flex;
  justify-content: right;
  gap: 30px;
}
header .search-box p{
  font-size: 20px;
  color: #777;
  font-weight: 700;
}
header .search-box img{
  width: 20px;
  height: 20px;
}


.main-visaul img{
  width: 100%;
  height: 800px;
  object-fit: cover;
}


.celebrity{
  margin-top: 100px;
}
.celebrity .inner{
  text-align: center;
  padding: 0 100px;
}
.celebrity h2{
  font-size: 30px;
  font-weight: 700;
  font-family: 'Pretendard-Regular';
  display: block;
  border-bottom: 1px solid #777;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.celebrity .inner .img{
  width: 300px;
  height: 600px;
}
.celebrity .inner img{
  width: 100%;
  height: 375px;
}
.celebrity .inner .img{
  width: 300px;
  height: 375px;
}
.celebrity .inner img{
  width: 100%;
}
.celebrity .inner .txt{
  text-align: left;
  margin-top: 15px;
  
}
.celebrity .inner ul{
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  border-bottom: 1px solid #777;
}
.celebrity .inner ul li{
  margin-bottom: 50px;
}
.celebrity .inner ul li .txt p{
  font-size: 12px;
  font-weight: 700;
  font-family: 'Pretendard-Regular';
}

.celebrity .inner ul:last-child{
  justify-content: left;
}




footer{
  margin-top: 100px; 
  margin-bottom: 100px;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer ul li a{
  font-size: 14px;
  color: #777;
  font-family: 'Pretendard-Regular';
}
footer .f-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img{
  width: 150px;
  height: 150px;
}
footer p{
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #777;
  font-family: 'Pretendard-Regular';
}

footer ul li a:hover{
  color: #000;
  font-weight: 700;
}
.gotop{ 
  cursor: pointer; 
  position: fixed; 
  width: 80px; 
  height: 80px; 
  right: 50px; 
  bottom: 50px; 
  border-radius: 50%; 
  background: #4F546C; 
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
  color: #fff; 
  font-weight: 900; 
  text-align: center; 
  padding: 35px 0 0; 
  z-index: 4; 
}

@media (max-width:768px){
  footer ul li a{
   font-size: 10px;
   color: #777;
   font-family: 'Pretendard-Regular';
 }
}

@media(max-width : 768px){
  .gnb-wrap .inner .img-box img{
   width: 250px;
   height: 376px;
   font-family: 'Pretendard-Regular';
 }
 header .inner .gnb-wrap li a{
   font-size: 18px;
   font-weight: 700;
   color: #000;
   font-family: 'Pretendard-Regular';
 }
 header .inner .gnb-wrap li a{
  font-size: 16px;
  font-weight: 700;
}
.txt-box2 ul{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 0 55px;
  justify-content: center;
  gap: 10px;
}
.gnb-wrap .inner .txt-box2 ul li a{
  font-size: 12px;
  font-weight: 300;
  font-family: 'Pretendard-Regular';
  color: #777;
}
.gnb-wrap .inner .txt-box2 ul li{
  padding: 0;
}

}






























