@charset "utf-8";


header .inner{
  padding: 0 20px;
  max-width: 1640px;
  margin: auto;
  align-items: center;
  justify-content: center;
}
header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 30px 0;
}
header .inner{
  display: flex;
  justify-content: space-between;
}
header .menu img, header .search img{
  width: 30px;
  height: 30px;
}
header .inner h1{
  font-family: 'Pretendard-Regular';
  font-size: 40px;
  font-weight: bold;
  color: #000;
}
header .inner .gnb-wrap{
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  padding: 50px 50px;
  width: 100%;
  height: 100%;
}
header .inner .gnb-wrap li{
  margin-bottom: 100px;
}
header .inner .gnb-wrap li a{
  font-size: 30px;
  font-weight: 700;
}

.gnb-wrap{
  position: relative;
  display: none;
}
.gnb-wrap li:nth-child(5){
  color: #4F546C;
}
.gnb-wrap .inner .img-box img{
  width: 500px;
  height: 753px;
}
.gnb-wrap .inner .close{
  position: absolute;
  top: 10px;
  right: 65px;
  cursor: pointer;
}

header .inner .gnb-wrap li:hover a{
  opacity: 0.5;
  transition: all 0.5s;
}
.txt-box2 ul{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  padding: 50px;
  justify-content: center;
  gap: 20px;
}
.gnb-wrap .inner .txt-box2 ul li{
  padding: 0 20px;
}
.gnb-wrap .inner .txt-box2 ul li a{
  font-size: 16px;
  font-weight: 300;
  font-family: 'Pretendard-Regular';
  color: #777;
}


@media(max-width : 768px){
  .gnb-wrap .inner .img-box img{
   width: 250px;
   height: 376px;
   font-family: 'Pretendard-Regular';
 }
 header .inner .gnb-wrap li a{
   font-size: 18px;
   font-weight: 700;
   color: #000;
   font-family: 'Pretendard-Regular';
 }

}


header .search-box{
  display: none;
  width: 100%;
  height: 50px;
  background-color: #fff;
  padding: 15px;
}
header .search-box .inner{
  display: flex;
  justify-content: right;
  gap: 30px;
}
header .search-box p{
  font-size: 20px;
  color: #777;
  font-weight: 700;
}
header .search-box img{
  width: 20px;
  height: 20px;
}

.detail{
  padding: 200px 100px;
}
.detail .inner .top-box{
  display: flex;
  gap: 50px;
}
.detail .inner .top-box img{
  width: 640px;
  height: 760px;
  object-fit: cover;
}
.detail .inner .top-box .txt{
  position: fixed;
  left: 1000px;
  padding-left: 50px;
}
.detail .inner .top-box .txt .name{
  font-size: 24px;
  font-family: 'Pretendard-Regular';
  margin-bottom: 200px;
}
.detail .inner .top-box .txt ul{
  display: flex;
  gap: 30px;
}
.detail .inner .top-box .txt ul li a{
  font-size: 18px;
  font-family: 'Pretendard-Regular';
  color: #ddd;
}
.detail .inner .top-box .txt ul li:hover a{
  color: #777;
  transition: all 0.5s;
}

.detail .inner .price{
  margin-top: 80px;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.detail .inner .price P{
  font-size: 16px;
  color: #777;
  font-weight: normal;
  font-family: 'Pretendard-Regular';
}

.cart{
  width: 700px;
  padding: 15px;
  background-color: #eee;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Pretendard-Regular';
  margin-top: 400px;
}
.cart:hover{
  background-color: #777;
  transition: all 0.5s;
}

.buy{
  width: 700px;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  font-family: 'Pretendard-Regular';
}
.buy:hover{
  opacity: 0.7;
  transition: all 0.5s;
}

.detail-img{
  width: 800px;
  padding: 200PX 100px;

}
.detail-img .inner img{
  display: block;
  width: 800px;
  object-fit: cover;
  justify-content: center;
}














footer{
  margin-top: 100px; 
  margin-bottom: 100px;
}
footer ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer ul li a{
  font-size: 14px;
  color: #777;
  font-family: 'Pretendard-Regular';
}
footer .f-logo{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer img{
  width: 150px;
  height: 150px;
}
footer p{
  align-items: center;
  text-align: center;
  font-size: 12px;
  color: #777;
  font-family: 'Pretendard-Regular';
}

footer ul li a:hover{
  color: #000;
  font-weight: 700;
}



.gotop{ 
  cursor: pointer; 
  position: fixed; 
  width: 80px; 
  height: 80px; 
  right: 50px; 
  bottom: 50px; 
  border-radius: 50%; 
  background: #4F546C; 
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2); 
  color: #fff; 
  font-weight: 900; 
  text-align: center; 
  padding: 35px 0 0; 
  z-index: 4; 
}

@media (max-width:768px){
  footer ul li a{
   font-size: 10px;
   color: #777;
   font-family: 'Pretendard-Regular';
 }

 .detail .inner .top-box .txt{
   position: static;
   display: block;
 }
 .detail .inner{
  display: block;
 }
}